<% provide(:title, "Sign in") %>

<div class="row-fluid">
	
  <div class="form-fluid span9 offset3">
		<legend>Sign in</legend>
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
        
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>  
      <%= f.text_field :email, class: "span8 fluid" %> <small>guest@mail.com</small>
	

      <%= f.label :password %>
      <%= f.password_field :password, class: "span8 fluid" %>  <small>guest</small>
	 <div>
        <%= f.submit "Sign in", class: "btn btn-large btn-info inline" %>
        <% end %>
     <div>

    </div>
  </div>
 
  </div>
</div>
<script>
$('.overlayLink').overlay()
</script>
<script src="http://code.jquery.com/jquery-latest.js"></script> 
<script src="js/bootstrap.min.js"></script> 
